.verao {
    background-color: orange;
    color: #000;
}
.outono {
    background-color: brown;
    color: #000;
}
.inverno {
    background-color: gray;
    color: #000;
}
.primavera {
    background-color: green;
    color: #000;
}